<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/cmschakdarafavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <title>CMSC Chakdara: Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light py-1" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="cmsc.html">
          <img src="static/images/cmschakdara.jpg" alt="Chakdara Model School" width="40%" height="30%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="#aboutsection" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="#contactsection" class="nav-link">Contact Us</a></li>
            <li class="nav-item"><a href="#gallerysection" class="nav-link">Gallery</a></li>
          </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="notificationsbutton">Notifications</button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modaldialog">
              <div class="modal-header" id="modalheader">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Latest News</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="notificationslist">
                <div class="container" id="firstnotification">
                  <p class="lead">Scholarships available for 6th to 9th Grade Students:<a href="https://drive.google.com/uc?export=download&id=1gh-5S0g806ZGqdv3XD8PWZbE3MVwZB35" target="_blank">Download Scholarship Form</a></p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--Header-->
    <section class="text-dark p-5 text-center text-md-start overlay" id="headersection">
      <div class="container">
        <div class="d-md-flex align-items-center justify-content-between py-5">
          <div id="headerdetails">
            <h1 class="whitetext">Welcome to <span>Chakdara Model School & College!</span></h1>
            <p class="lead my-5 whitetext rp50">We aim to teaching our pupils the fundamentals of the latest knowledge with the aid of modern technology to prepare them for tomorrow!</p>
            <a class="btn btn-lg" id="button1" href="https://forms.gle/JW3Sn5yCQdFe6zZQ7" role="button">Apply Online</a>
            <a class="btn btn-lg" id="secondarybutton" href="https://drive.google.com/uc?export=download&id=1Af0wCiAIA5L-ClvlyYC7kBj15989Quj9" role="button"><i class="bi bi-chevron-right"></i> Download Registration Form</a>
          </div>
          <img class="img-fluid w-50 d-none d-md-block imgstyle1" src="static/images/ourstudents.png" alt="Our Students">
        </div>
      </div>
    </section>
    <!--Boxes-->
    <section class="p-5" id="aboutsection">
      <!--First Row-->
      <div class="container">
        <div class="row text-center g-3">
          <div class="col-md">
            <div class="card text-dark">
              <div class="card-body text-center">
                <div class="h1"><i class="bi bi-buildings-fill"></i></div>
                <h3 class="card-title mb-3">Fascinating Buildings</h3>
                <p class="card-text paraghraphstyling">Our Campuses has the ever best architecture and fascilities which engages the students very well.</p>
                <!--<a href="#" class="btn btn-primary" id="button1">Read More</a>-->
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card text-dark">
              <div class="card-body text-center">
                <div class="h1"><i class="bi bi-mortarboard-fill"></i></div>
                <h3 class="card-title mb-3">Wealthy Education</h3>
                <p class="card-text paraghraphstyling">Our Aim is to give your child the education filled with ethics and manners with modern awareness.</p>
                <!--<a href="#" class="btn btn-primary" id="button1">Read More</a>-->
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card text-dark">
              <div class="card-body text-center">
                <div class="h1"><i class="bi bi-pc-display"></i></div>
                <h3 class="card-title mb-3">Tech-base Classes</h3>
                <p class="card-text paraghraphstyling">We want to equipe your Child with today's needs and modern technology to let him winning at any cost.</p>
                <!--<a href="#" class="btn btn-primary" id="button1">Read More</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Row-->
      <div class="container pt-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="static/images/ourbuilding-girlssection.jpg" alt="" class="img-fluid imgstyle1">
        </div>
        <div class="col-md p-5" id="aboutuscontent">
          <h2 class="py-4">About Us</h2>
          <p class="lead py-2">Chakdara Model School & College (CMSC), established in July 2002, is a prestigious English medium institution dedicated to delivering quality education.</p>
          <p class="paraghraphstyling">Our commitment to excellence is reflected in our students' outstanding academic achievements, extracurricular successes, and participation in inter-school competitions. With a purpose-built campus and a legacy of excellence, CMSC continues to set new benchmarks in education.</p>
          <!--<a href="" class="btn btn-light btn-lg mt-3" id="button2"><i class="bi bi-chevron-right"></i> Read More</a>-->
        </div>
      </div>
    </div>
    </section>
    <!--Our Aim Section-->
    <section class="p-5" id="ouraimsection">
      <div class="container py-5">
        <div class="row align-items-center justify-content-between">
          <div class="col-md py-5" id="ouraimsectioncontent">
            <h2><span>Our Aim: </span>We Give you the Opportunity today!</h2>
            <p class="lead py-4">Our mission is to nurture responsible, patriotic Pakistanis and true Muslims by instilling strong academic values and character.</p>
            <p class="paraghraphstyling">At CMSC, we aim to provide an education that shapes not just scholars but responsible citizens.We are committed to upholding high academic standards, encouraging extracurricular excellence, and offering state-of-the-art learning facilities.</p>
            <!--<a href="" class="btn btn-light btn-lg mt-3" id="button2">
              <i class="bi bi-chevron-right"></i> Read More
            </a>-->
          </div>
          <div class="col-md">
            <img src="static/images/webuildeverychild.jpg" alt="" class="img-fluid imgstyle1">
          </div>
        </div>
      </div>
    </section>
    <!--Carousal Section for Trending Images-->
    <section class="p-5" id="carousalsection">
      <div class="container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" id="carouselimages">
            <div class="carousel-item active">
              <img src="static/images/cmsc-building.jpg" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/images/cmsc-staff.jpg" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/images/annual-day-prizes-distribution.jpg" class="d-block w-100 h-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
    <!--<section class="py-5" id="gallerysection">
     <div class="container">
      Gallery Section Empty for Now
     </div>
    </section>-->
    <!--Fee Structure Section-->
    <section class="py-5" id="feestructure">
      <div class="container py-5" id="feestructurecontent">
        <h2>Fee Structure - PLAY GROUP to CLASS 10th<span>March 2025-26</span></h2>
        <div class="d-md-flex align-items-center justify-content-around">
          <table class="table table-hover table-striped-columns">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Classes</th>
                <th scope="col">Admission Fee</th>
                <th scope="col">Tuition Fee(Monthly)</th>
                <th scope="col">Promotion Fee(Annual)</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr><th scope="row">1</th>
                <td>Play Group</td>
                <td>Rs. 6000</td>
                <td>Rs. 2500</td>
                <td>Rs. 5000</td></tr>
              <tr><th scope="row">2</th>
                <td>Nursery</td>
                <td>Rs. 6000</td>
                <td>Rs. 2500</td>
                <td>Rs. 5000</td></tr>
              <tr><th scope="row">3</th>
                <td>Prep</td>
                <td>Rs. 6000</td>
                <td>Rs. 2500</td>
                <td>Rs. 5000</td></tr>
              <tr><th scope="row">4</th>
                <td>Class 1st</td>
                <td>Rs. 6000</td>
                <td>Rs. 2500</td>
                <td>Rs. 5000</td></tr>
              <tr><th scope="row">5</th>
               <td>Class 2nd</td>
                <td>Rs. 6000</td>
                <td>Rs. 2500</td>
                <td>Rs. 5000</td></tr>
              <tr><th scope="row">6</th>
               <td>Class 3rd</td>
                <td>Rs. 6000</td>
                <td>Rs. 2700</td>
                <td>Rs. 5000</td></tr>
              <tr><th scope="row">7</th>
                <td>Class 4th</td>
                 <td>Rs. 6000</td>
                 <td>Rs. 2700</td>
                 <td>Rs. 5000</td></tr>
               <tr><th scope="row">8</th>
                <td>Class 5th</td>
                 <td>Rs. 6000</td>
                 <td>Rs. 3000</td>
                 <td>Rs. 5000</td></tr>
               <tr><th scope="row">9</th>
                <td>Class 6th</td>
                 <td>Rs. 8000</td>
                 <td>Rs. 3000</td>
                 <td>Rs. 8000</td></tr>
               <tr><th scope="row">10</th>
                <td>Class 7th</td>
                 <td>Rs. 8000</td>
                 <td>Rs. 3200</td>
                 <td>Rs. 8000</td></tr>
               <tr><th scope="row">11</th>
                <td>Class 8th</td>
                 <td>Rs. 8000</td>
                 <td>Rs. 3200</td>
                 <td>Rs. 8000</td></tr>
               <tr><th scope="row">12</th>
                <td>Class 9th</td>
                 <td>Rs. 8000</td>
                 <td>Rs. 3500</td>
                 <td>Rs. 8000</td></tr>
               <tr><th scope="row">13</th>
                <td>Class 10th</td>
                 <td>Rs. 8000</td>
                 <td>Rs. 3500</td>
                 <td>Rs. 8000</td></tr>
            </tbody>
          </table>
        </div>
        <p><span>20% Concession</span>to Brothers/Sisters (Only in Tuition Fee)</p>
      </div>
    </section>
    <!--Scholarship Section-->
    <section class="py-5" id="scholarshipsection">
      <div class="container py-5">
        <div class="row text-center align-items-center justify-content-between" id="scholarshipcontent">
          <h2 class="display-5 fw-bold">We are Offering Scholarships on Talent Basis!</h2>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid d-sm-flex justify-content-around" id="scholarshipcta">
              <p>Download Scholarship form here:</p>
              <a href="https://drive.google.com/uc?export=download&id=1gh-5S0g806ZGqdv3XD8PWZbE3MVwZB35" class="btn btn-light btn-lg" id="button2">
                <i class="bi bi-chevron-right"></i> Download Form</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Contact Section-->
    <section class="py-5" id="contactsection">
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="static/images/cmschakdara.jpg" alt="" width="15%" height="15%">
          <h2 class="display-5 fw-bold text-body-emphasis">Change your children Lives!</h2>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Education is the key to transformation, and at CMSC, we believe in making a difference, one student at a time. Whether you're a parent seeking the best for your child or a well-wisher wanting to contribute to our vision, we welcome you to be part of this journey.</p>
            <div class="d-grid d-sm-flex justify-content-around" id="contactcta">
              <p>Find our Contact Details here:</p>
              <a href="#footercontact" class="btn btn-light btn-lg">
                <i class="bi bi-chevron-right"></i> Contact Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer class="position-relative" id="footersection">
      <div class="container pb-5">
        <div class="row text-center g-3">
          <div class="col-md px-3">
            <div class="py-3" id="footerlogo">
              <a href="https://www.cmsc.edu.pk"><img src="static/images/cmschakdara.jpg" alt="Chakdara Model School" width="30%" height="100%"></a>
            </div>
            <div>
              <p class="lead px-1">We are providing Excellence as your Children are ours!</p>
            </div>
          </div>
          <div class="col-md py-3 px-0" id="footercontact">
            <h4 class="mb-3 fw-bold">Contact Us here!</h4>
            <ul class="list-group list-group-flush lead">
              <li><span>Main Campus:</span>Haji Abad, University Road Chakdara</li>
              <li><a href="Tel:03458336506"><span>Call Us:</span>0345 8336506</a></li>
              <li><a href="mailto:admissions@cmsc.edu.pk"><span>Email Us:</span>admissions@cmsc.edu.pk</a></li>
            </ul>
          </div>
          <div class="col-md py-3 px-3">
            <div class="mb-4">
              <h5>Follow for our Early Updates!</h5>
            </div>
            <div class="input-group flex-nowrap" id="mailbox">
              <input type="text" class="form-control" placeholder="Email Address" aria-label="email" aria-describedby="addon-wrapping">
            </div>
            <div class="py-5" id="socialicons">
              <a><i class="bi bi-facebook ba-lg"></i></a>
              <a><i class="bi bi-whatsapp px-3"></i></a>
              <a><i class="bi bi-instagram"></i></a>
              <a><i class="bi bi-linkedin px-3"></i></a>
              <a><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-md-flex align-items-center justify-content-around" id="footercredit">
        <div class="col-m" id="developer">
          <p class="lead">Developed by<i class="bi bi-code" style="padding: 0 7px;"></i><a target="_blank" href="http://www.linkedin.com/in/umairalishah-digitalmarketer">Muhammad Umair Ali Shah</a></p>
        </div>
        <div class="col-m" id="rightsreserve">
          <p class="lead"><a href="cmsc.html">CMSC</a><i class="bi bi-c-circle" style="padding: 0 7px;"></i>All Rights Reserved</p>
        </div>
      </div>
    </footer>
    <!-- JavaScript Goes here -->
    <script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>